<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit a movie:</h1>
    <form action="/movies/edit/<%= movie.id %>" method="POST">
      <div>
        <label for="">Title:</label>
        <input type="text" name="title" value="<%= movie.title %>" />
      </div>
      <div>
        <label for="">rating:</label>
        <input type="number" name="rating" value="<%= movie.rating %>" />
      </div>
      <div>
        <label for="">awards:</label>
        <input type="number" name="awards" value="<%= movie.awards %>" />
      </div>
      <div>
        <label for="">release_date:</label>
        <input
          type="datetime-local"
          name="release_date"
          value="<%= movie.release_date %>"
        />
      </div>
      <button type="submit">Guardar</button>
    </form>
  </body>
</html>
